doctype html
html
    head
        meta(charset="utf-8")
        title Lessom5
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        section
            h3 Lorem ipsum dolor sit amet
            p consectetur adipisicing elit
            p Voluptatibus rem distinctio
            p beatae magni dolor eos sint, harum
            p quisquam provident vitae dolores magnam repudiandae odio perspiciatis natus reiciendis, ullam ea quasi