@import url("https://fonts.googleapis.com/css?family=Andika");
html {
  height: 100%;
  width: 100%; }

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("img/tree.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #FFF;
  background-attachment: fixed;
  overflow: hidden;
  height: 80%;
  width: 100%; }

@keyframes move {
  from {
    top: 150%; }
  to {
    top: 0%; } }
section {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 25%;
  width: 40%;
  min-width: 250px;
  max-width: 500px;
  height: 100%;
  font-family: "Andika", sans-serif;
  font-size: 1.5em; }
  section p,
  section h3 {
    text-shadow: 3px 3px 10px #cccccc;
    position: relative;
    top: 150%; }
  section p:hover {
    text-decoration: underline;
    transform: scale(1.2, 1.1);
    transition-duration: 0.3s; }
  section h3 {
    animation: move 1.5s ease-out 0.6s forwards; }
  section p:nth-child(4n+2) {
    color: #000022;
    animation: move 1.5s ease-out 0.7s forwards; }
  section p:nth-child(4n+3) {
    color: #000044;
    animation: move 1.5s ease-out 0.8s forwards; }
  section p:nth-child(4n+4) {
    color: #000066;
    animation: move 1.5s ease-out 0.9s forwards; }
  section p:nth-child(4n+5) {
    color: #000088;
    animation: move 1.5s ease-out 1s forwards; }
