html {
  height: 100%;
  width: 100%; }

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("img/tree.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #FFF;
  height: 100%;
  width: 100%; }

section {
  text-align: center;
  margin: auto auto;
  position: relative;
  top: 30%;
  width: 30%;
  min-width: 150px;
  max-width: 300px; }
